<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script type='text/javascript' src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>
  <body ng-app="loginApp">
      <div class="container" ng-controller="loginController">
        
        <div class="login-page-header">
             <h1 class="login-page-title">Monitor Center</h1>
             <span class="app-version">Version 1.42</span>
        </div>
        
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
              <div id="loginContainer" class="panel panel-default">
                <div class="panel-heading login-heading">
                  <img src="http://shob.securegion.com/login/images/logo.png"/>
                </div>
                <div class="panel-body">
                  <form accept-charset="UTF-8" role="form">
                          <fieldset>
                      <div class="form-group">
                        <input class="form-control" placeholder="Username" name="username" type="text" ng-model="username">
                    </div>
                    <div class="form-group">
                      <input class="form-control" placeholder="Password" name="password" type="password" value="" model="username">
                    </div>
                    <div class="checkbox">
                        <label>
                          <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                        </label>
                      </div>
                    <input class="btn btn-default btn-block" type="submit" ng-click="login()" value="Log In">
                  </fieldset>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
            <p class="copyright">Copyright 2014 SecuRegion Ltd. All Rights Reserved.</p>
      </div>
</body>
</html>
