body {
    background: #1A1A1A;
}
div.header {
    background: #3860C9;
    width: 100%;
}
.logo{
    float: left;
    color: #fff;
    margin: 10px;
    padding: 20px;
}
.logo > a{}
.logo > a > h1 {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: calibri;
    margin: 0;
    padding: 0;
}
div#dashboardBlock {
float: left;
min-height: 400px;
background: rgb(255, 255, 255);
margin: 20px 0px;
}
div#alertBlock {
    background: #FFF;
    padding: 5px 0px;
    border-radius: 4px;
}
div#alertBlock > h3 {
  
}
table.table.table-striped {
   
}
thead {
    background: #3B66C2;
    color: #FFF;
}
th {
    border-right: solid 1px #357FCF;
    text-align: left;
}

div#nav {
float: left;
width: 100%;
padding: 10px 0;
background: #FFF;
border-bottom: solid 1px #C0C0C0;
}
#tabContent{
 display:none; 
}
.tab-pane > a{
  float: left;
  background: #49A0FF;
  padding: 20px;
  margin-right: 10px;
  margin: 10px 10px 10px 0px;
  text-align: center;
  min-width: 175px;
  color: #fff;
  font-weight: bold;
}

div#map-canvas {
width: 100%;
height: 300px;
}

div#mapBlock {
margin: 20px 0;
}
/*Login*/
div#loginContainer {
margin-top: 20%;
}
.login-heading{
  text-align:center;
}
p.copyright {
text-align: center;
color: #eee;
}
div.login-page-header {
    text-align: center;
    color: #eee;
}
span.app-version {
    padding: 5px 10px;
    background: #3C79B1;
    border-radius: 4px;
    color: #ECE0E0;
    font-weight: bold;
}